*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

:root{
    --clr-pink : #F7CFD8;
    --clr-green-500 : #73C7C7;
    --clr-green-300 : #A6F1E0;
    --clr-yellow-300 : #F4F8D3;
}

body{
    line-height: 1.4;
    font-size: 1rem;
    height: 100vh;
    position: relative;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-pink);
}

.time-card{
    max-height: 450px;
    max-width:max-content;
    background-color: var(--clr-yellow-300);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 5rem ;
    white-space: nowrap;
}

.time-card h2{
    font-size: 3rem;
    text-transform: uppercase;
    white-space: nowrap;

}

.time-card p{
    font-size: clamp(2rem,4vw,6rem);
    white-space: nowrap;

}


.modal {
    display: none;
  }
  
  .modal.is-open {
    display: block;
  }